/* For main body of Page */
body {
        font-family: Poppins-Regular-400, sans-serif;
        padding: 20px;
    }

/* Create Patient Button */
.createButton{
    background-color: #007e93;
    color: #f9f9f9;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #251829;
    box-sizing: border-box;
    height: 40px;
    text-align: center;
	padding: 8px 12px;
	font-size: 14px;
	margin-left: 5px;
}

/* Hover effect */
.createButton:hover {
    background-color: #009cb7; /* Slightly lighter */
    transform: scale(1.03);    /* Slightly enlarge */
}

/* Active (click) effect */
.createButton:active {
    background-color: #007284; /* Slightly darker */
    transform: scale(0.99);    /* Slightly shrink */
}

/* Focus effect (when clicked or tabbed into) */
.createButton:focus {
    outline: 2px solid #df7c87; /* Custom outline */
    outline-offset: 1px;
}


/* Background overlay */
#overlay {
display: none; /* Hidden by default */
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
z-index: 999;
}

/* Modal box */
#modal {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: white;
padding: 20px;
border-radius: 8px;
width: 300px;
max-width: 90%;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
text-align: center;
font-family: Arial, sans-serif;
}

/* Message text */
#modal-message {
margin-bottom: 15px;
font-size: 16px;
color: #333;
}

/* Close button */
.modalButton {
padding: 8px 15px;
background-color: #28a745;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 14px;
}

.modalButton:hover {
background-color: #218838;
}

.input-field-cP {
 margin-bottom: 10px; /* Space between boxes */
 width: 300px;
 padding: 8px;
 font-size: 14px;
 border-radius: 6px;
 border: 2px solid #9fabaf;
}

/*Focus effect (when clicked or tabbed into)*/
.input-field-cP:focus {
    outline: 2px solid #cc9ba1;
    outline-offset: 1px;
}

label {
    display: block; /* Ensures label is above the input */
    font-weight: bold;
    margin-bottom: 5px;
}

/*makes text boxes center on page*/
.flex-container-cP { 
 display: block; /* Ensures each starts on a new line */
 justify-content: center; /* Horizontal center */ 
 align-items: center; /* Vertical center */ 
 height: 100px; /* Container height */ 
 border: none; 
}

/*For messages if inputs are not entered*/
#output {
	margin-top: 15px;
	font-weight: bold;
}