  body {
	background-color: #f9f9f9; 
}

/*for both buttons */    
button {
	padding: 6px 12px;
	font-size: 12px;
        text-align: center;  /*Center text inside*/
	width: 70px;
margin-left: 30%;
margin-top: -10%;


	background-color: #007e93;
	color: #f9f9f9; 
	border-radius: 6px;
	cursor: pointer;
 	border: 1px solid #000000;
}


/* Style the iframe for better presentation */
  iframe {
	width: 100%;
        height: 500px;
        border: 2px solid #9fabaf;
        border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/*for logo*/
  .gradient-text {
    font-family: "Eras ITC";
    font-size: 2em;
    font-weight: 600;
    background: linear-gradient(180deg, #9fabaf, #d6fefe);
    /* Clip background to text */
    -webkit-background-clip: text;
    background-clip: text;
    /* Make text transparent so gradient shows */
    -webkit-text-fill-color: transparent;
    color: transparent;

    display: inline-block; /* Needed so transform applies correctly */
    transform: skewX(-8deg); /* Negative = slant right, positive = slant left */

  /*outline*/
  -webkit-text-stroke: 0.7px #007fa1;
  margin-bottom: 10px;
  } 