
/*For main body of page*/
body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9; 

    position: absolute; /*Position it relative to the container */
    top: 40%; /* Move down %% of the container height */
    left: 50%; /* Move right %% of the container width */
    transform: translate(-50%, -50%); /* Move it back to center the element */ 
    text-align: center;  /*Center text inside*/
}
        

/*For both text boxes*/
input[type="text"] {
 margin-bottom: 10px; /* Space between boxes */
 width: 300px;
 padding: 8px;
 font-size: 14px;
 border-radius: 6px;
 border: 2px solid #9fabaf;
} 


/*makes text boxes center on page*/
.flex-container { 
 display: block; /* Ensures each starts on a new line */
 justify-content: center; /* Horizontal center */ 
 align-items: center; /* Vertical center */ 
 height: 100px; /* Container height */ 
 border: none; 
}


/*Focus effect (when clicked or tabbed into)*/
input[type="text"]:focus {
    outline: 2px solid #cc9ba1;
    outline-offset: 1 px;
}
 

/*for Login button */    
button {
	padding: 8px 12px;
	font-size: 14px;
    text-align: center;  /*Center text inside*/
	width: 318px;

	background-color: #007e93;
	color: #f9f9f9; 
	border-radius: 6px;
	cursor: pointer;
 	border: 1px solid #251829;
}


/* Hover effect */
button:hover {
    background-color: #009cb7; /* Slightly lighter */
    transform: scale(1.03);    /* Slightly enlarge */
}

/* Active (click) effect */
button:active {
    background-color: #007284; /* Slightly darker */
    transform: scale(0.99);    /* Slightly shrink */
}

/* Focus effect (when clicked or tabbed into) */
button:focus {
    outline: 2px solid #df7c87; /* Custom outline */
    outline-offset: 1px;
}

        
/*For messages if the incorrect credentials are entered	*/
#output {
	margin-top: 15px;
	font-weight: bold;
}


/*for logo*/
  .gradient-text {
    font-family: "Eras ITC";
    font-size: 5em;
    font-weight: 600;
    background: linear-gradient(180deg, #9fabaf, #d6fefe);
    /* Clip background to text */
    -webkit-background-clip: text;
    background-clip: text;
    /* Make text transparent so gradient shows */
    -webkit-text-fill-color: transparent;
    color: transparent;

    display: inline-block; /* Needed so transform applies correctly */
    transform: skewX(-8deg); /* Negative = slant right, positive = slant left */
    font-style: normal; /* Ensure no default italic is applied */

  /*outline*/
  -webkit-text-stroke: 1.5px #007fa1;
  } 


h2{
 text-align: center;  /*Center text inside*/
 margin-bottom: 40px;
}

