/* For main body of Page */
body {
        font-family: Arial, sans-serif;
        padding: 20px;
    }

/* Go Button */
#goButton{
	padding: 8px 12px;
	font-size: 14px;
	margin-left: 5px;
}

/* Create Patient Button */
#createButton{
	padding: 8px 12px;
	font-size: 14px;
	margin-left: 5px;
}

/* Dropdown container */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown button */
	.dropbtn {
        background-color: #3498db;
        color: white;
        padding: 10px 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        min-width: 160px;
        text-align: left;
    }

    .dropbtn:hover {
        background-color: #2980b9;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 4px;
    }

    /* Links inside dropdown */
    .dropdown-content a {
        color: black;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    /* Show dropdown when active */
    .show {
        display: block;
    }