/* Import custom ErasDemi TTF font 
Will need to add more files for browser compadibilty later woff*/
@font-face {
    font-family: 'ErasDemi'; /* Use this name later in your CSS */
    src: url('../assets/fonts/ErasDemi.ttf') format('truetype'); /* Relative path to the font */
    font-weight: normal;
    font-style: normal;
}

/* Import custom Poppins-Regular-400 TTF font 
Will need to add more files for browser compadibility later woff*/
@font-face {
    font-family: 'Poppins-Regular-400'; /* Use this name later in your CSS */
    src: url('../assets/fonts/Poppins-Regular-400.ttf') format('truetype'); /* Relative path to the font */
    font-weight: normal;
    font-style: normal;
}

